/* 
h2{
    font-family: "Old Standard TT", serif;
    text-transform: uppercase;
    color: #2d706c;
    letter-spacing: -0.1rem; 
    font-size: 1.5rem;
}

#hub-questions{
    height: 100%;
    padding: 2%;
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

p{
    margin: 3% 0;
}

#main-question {
    margin: 3% 0;
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #704214;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('./kabardian-alphabet/assets/images/circassian.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



#left-questions{
    padding-top: 30px;
    width: 33%;
    float: left;
} 

.left-question-heading {
    width: 60%;
    float: right;
    line-height: 1.25rem;
    clear: both;
    margin-bottom: 50px;
    color: #704214;
    font-size: 1rem;
    font-size: 1.25rem;
} 




.content a:link, .content a:visited {
    color:#704214;
}


.content a:focus, a:hover {
  border-bottom: 0.1rem solid;
}

.content a:active {
    color: #2d706c;
  }

a {
    outline-color: transparent;
    text-decoration: none;
  }



#right-questions {
    padding-top: 0;
    width: 33%;
    float: right;
    
}

#center-container {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 0.1rem solid #2d706c;
    width: 100%;
    margin: 0.25rem 0;
}


.right-question-heading {
    width: 60%;
    float: left;
    line-height: 1.25rem;
    clear: both;
    margin-bottom: 50px;
    color: #704214;
    font-size: 1.25rem;
    padding: 0 20px 0 20px;
    min-width: 90%;
}

.right-question-heading p {
    text-align: right;
}

.right-question-heading h2 {
    text-align: right;
}


/* for mobile devices (mobile, 320%)  */
/* @media screen and (min-width: 320px){
    #circle-container {
        width: 12rem;
        height: 12rem;
        padding: 15%;
        border-style: solid;
        border-color: #cccccc;
        border-width: 0.1rem;
        border-radius: 50%;
        margin: 0 auto;
    }


} */
