#hub-questions{
    height: 600px;
    margin-top: 10%;
}

h2{
    font-family: "Old Standard TT", serif;
    text-transform: uppercase;
    color: #2d706c;
}

#left-questions{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-questions {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #cccccc;
    width: 100%;
    margin: 5px 0;
}

.left-question-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-question-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-question-heading p {
    text-align: right;
}

.right-question-heading h2 {
    text-align: right;
}

#main-question {
    margin: 5% 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover {
    background: url('/assets/images/circassian.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



.content-link a:link, .content-link a:visited {
    color:#704214;
}


/* .content-link a:focus, a:hover {
  border-bottom: 0.1rem solid;
} */

.content-link a:active {
    color: #2d706c;
  }
/* 
a {
    outline-color: transparent;
    text-decoration: none;
  } */




/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #hub-questions{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #main-question {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-questions, #right-questions {
        width:100%;
        float:left;
        padding: 0;
    }

    #center{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }


    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){


    #hub-questions{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-question-heading, .right-question-heading{
        width: inherit;
    }

    .left-question-heading h2, .right-question-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-question-heading p, .right-question-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

}

@media screen and (max-width: 320px){

    #hub-questions{
        width:100%;
        height: 600px;
        margin-top: 20%;
        /* margin: 0 auto; */
    }

    #circle-container {
        display: none;
    }
    
}