.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto; 
}

span:hover {
  cursor: pointer;
}

span:hover .fa-volume-up,
span:hover .fa-refresh {
  color: #2d706c;
}

@media (max-width: 500px) {
    .container { flex-wrap: nowrap; }
    .cell { width: 100%; }
    .cell-1 { order: 2; }
    .cell-2 { order: 1; }
    .cell-3 { order: 3; }
 }
 .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;
  }
  .cell {
    background: #f7d4bb;
    width: 60%;
  }
  .cell-1 {
    flex-basis: 100%;
  }
  .cell-1 h1 {
    padding: 1% 10%;
  }
  .cell-1 p {
    /* top and bottom | left and right */
    padding: 0.1% 5%;
    font-size: 1.3rem;
  }

  .cell-2 {
    padding: 5% 5%;
  }

  .cell-3 {
    padding: 5% 5%;
  }

  /* .cell-3 span {
    padding: 10% 1%;
  } */

  @media (max-width: 500px) {
    main {
      flex: 1 0 auto;
      margin-top: 18%;
    }
    
    .container {
      flex-wrap: nowrap;
    }
    .cell {
      width: 100%;
    }
    .cell-1 {
      order: 3;
    }
    .cell-2 {
      order: 1;
    }
    .cell-3 {
      order: 2;
    }
  }

