.poem-flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    max-width: 700px;
    margin: 5rem auto; /* styles added to top | left and right */
}

.box { 
    height: 600px; 
    background-color: #f7d4bb;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.box:nth-child(n+2) {
    width: calc(25%);
}

.poem-flexbox-container h1 {
    padding: 2%;
}

.poem-flexbox-container p {
    padding: 1%;
    font-size: 1.2rem;
}