/* Navbar */
.navbar {
    background-color: #2d706c;
    overflow: hidden;
    width: 100%
    /* position: fixed;
    z-index: 99; */
}

/* The list-style-type sets the marker of a list item element with the value "none", the marker won't be shown. */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

/* display: inline-block allows the navigation items to appear on the same line next to each other */
.navbar a {
    display: inline-block;
    color: white;
    text-align: left;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f7d4bb;
    color: #704214;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
    background-color: #FFF1E5;
    font-size: 26px;
}

/* Alphabet container */
.alphabet-flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    max-width: 1200px;
    margin: 2rem auto; /* styles added to top | left and right */
}

.flip-card{
    background-color: transparent;
    width: 12rem;
    height: 12rem;
    perspective: 62.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: right;
    border: 0.01rem solid #ccc;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #704214;
    font-size: 1.5rem;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #f7d4bb;
    color: #704214;
}

.ipa {
    font-style: normal;
    font-size: 1.5rem;
}

.word-example {
    font-style: normal;
    font-size: 1.5rem;
}

.en-translation {
    font-style: italic;
}
.ipa:hover,
.word-example:hover {
    text-decoration: none;
    color: #704214;
}

.flip-card-back {
    background-color: rgba(0, 0, 0, 0);
    background-size: 55%; /* set the size of the image */
    background-position:  100%  100%;/* places the image on the right bottom side */
    background-repeat: no-repeat;
    color: #2d706c;
    transform: rotateY(180deg);
    text-align: left;
    margin-left: -0.5rem;
}


/* Footer Styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: #2d706c;
}

small {
    color: white;
    font-size: 1rem;
}

/* Adding images for words representing the letter */
section.flip-card-back.a {
    background-image: url("./assets/images/father.png");
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    /* styles for smaller screens */
    .navbar a {
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
    }

    .alphabet-flexbox-container {
        margin: 1rem auto;
    }

    .flip-card {
        width: 90%;
    }

    section.flip-card-back {
        background-size: contain;
    }
}

@media only screen and (max-width: 480px) {
    /* styles for even smaller screens */
    .navbar a {
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
    }

    footer {
        font-size: 0.5rem;
        text-align: left;
    }
}