
#logo {
    float: left;
    text-transform: uppercase;
}

/*
Rem (short for “root-em”) units dictate an element's font size relative to the size of the root element.
By default, most browsers use a font size value of 16px.
So, if the root element is 16px, an element with the value 1rem will also equal 16px.
*/

body {
    margin:0;
    padding:0;
    border:0;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    background-color: #FFF1E5;
    font-size: 1.5rem; 
}

/* Navbar */
.navbar {
    padding: 0 0;
    background-color: #2d706c;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

/* The list-style-type sets the marker of a list item element with the value "none", the marker won't be shown. */
.navbar ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */

}

.navbar li {
    float: right;
}


/* display: inline-block allows the navigation items to appear on the same line next to each other */
.navbar a {
    display: inline-block;
    color: white;
    text-align: left;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f7d4bb;
    color: #704214;
}
/* 
.navbar a:visited {
    background-color: #f7d4bb;
    color: white;
} */

/* Footer Styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2d706c;
    /* padding: 0.1%; */
}

small {
    color: white;
    font-size: 1.25rem;
}
