/* Wildcard selector to override default styles added by the browser */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
}

/* General styles */
header {
    background-color: #2d706c;
    /* add padding left and right to prevent our text from sticking to the side of the screen  */
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #704214;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #704214;
    background-color: #FFF1E5;
    font-family: "Old Standard TT", serif; 
    font-weight: 500;
    font-size: 1rem; 
}

header a {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    
}

.navbar a:hover {
    background-color: #f7d4bb;
    color: #704214;
    border: none;
    border-radius: 0.5rem;
}


#menu {
    font-size: 150%;
    letter-spacing: 0.1rem;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0;
}

/* Navbar styles with dropdown toggle 
with the absolute position, the nav bar will no longer be present in the header
*/
nav {
    position: absolute;
    background-color: #2d706c;
    width: 100%;
    left:0;
    padding: 0 0;
    box-shadow: 0 2px 2px #704214;
    display: none;
    top:100%;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-lable {
    font-size: 2rem;
}

main {
    /* make main element to take up any surplus space to push footer down;
    the main content should not shrink when the screen is too small to show it all */
    flex: 1 0 auto;
    margin-top: 30%;
}

/* Footer Styling */
footer {
    background-color: #2d706c;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 0.3%;
    position: fixed;
    letter-spacing: 0.1rem;
}

small {
    color: white;
    font-size: 1rem;
}


/* Media queries */

/* tablets and larger (768px and up) */
@media screen and (min-width: 768px){

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-lable {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* push main content down */
        margin-top: 170px;
    }

}

/* Larges devices (laptops and desktops, 992px and up)  */
@media screen and (min-width: 992px){
    #menu a:hover{
        border-bottom: 1px solid #704214;
    }
}


